<div class="card h-100">
    <figure>
        <img [src]="movie.poster_path" class="card-img-top" height="450px" alt="...">
    </figure>
    <div class="card-body d-flex justify-content-between flex-column align-items-start">
        <h5 class="card-title">original title: {{movie.original_title}}</h5>
        <p>title: {{movie.title}}</p>
        <p class="card-text">overview: {{movie.overview}}</p>
        <p>popularity: {{movie.popularity}}</p>
        <p>rate: {{movie.vote_average}}</p>
        <p>vote count: {{movie.vote_count}}</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>

    <div class="card-footer">
        <small class="text-muted">release date: {{movie.release_date}}</small>
    </div>
</div>